:root {
  --animate-flicker: flicker 3s linear infinite;
  --animate-shimmer: shimmer 1.3s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    filter: drop-shadow(0 0 1px rgba(252,211,77))
            drop-shadow(0 0 15px rgba(245,158,11))
            drop-shadow(0 0 1px rgba(252,211,77));
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    filter: none;
  }
}


@keyframes shimmer {
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 700px 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}