/* src/styles/typography.css */
:root {
  /* Font Families */
  --font-main: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

    /* Font sizes (tuỳ chỉnh) */
  --font-size-xs: 0.75rem;  /* 12px */
  --font-size-sm: 0.875rem;  /* 14px */
  --font-size-base: 1rem;     /* 16px */
  --font-size-lg: 1.125rem;   /* 18px */
  --font-size-xl: 1.25rem;    /* 20px */
  --font-size-2xl: 1.5rem;    /* 24px */
  --font-size-3xl: 1.875rem;  /* 30px */

  --text-h1-size: 2rem;
  --text-h1-lh: 3rem

}